body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
  justify-content: center;
  text-align: center;
  display: flex;
  background-image: linear-gradient(#5677, #9998, #333833);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
}
h1{
  margin-bottom: 35px;
  text-decoration: bold;
  justify-content: center;
  text-align: center;
  display: flex;
}
.image{
    width: 100px;
    margin-top: -10px;
}
.cart-wrapper{
  height: 200px;
  width: 650px;
  border: 1px solid black;
  margin-left: 10%;

}
.item{
  float: left;
  display: inline-block;
  width: 170px;
  padding: 14px;
  height: 70px;

}
.cart{
  width: 100px;
  position: absolute;
  right: 1%;
  top: 1%;
 
}
.mine{
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 1;
  background-color: red;
  padding: 7px;
  width: 45px;
  color: #fff;
  height: 45px;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  display: flex;
}
.butt{
  margin-top: 8px;
  height: 40px;
  width: 140px;

}
